<h1>Welcome to Samurai Pizza Cats Forum</h1>
<p>This is a forum for enthusiats of SPC. Here you can share your love of SPC with other enthusiats! Enjoy!</p>
<!-- this will be 2 massive squares in the center of the screen so the person is given 2 basic options -->
<ul>
  <li>Link to Shared Forum Posts</li>
  <li>Link to Sign Up</li>
</ul>
