<h1>Welcome to the Samurai Pizza Cats Board</h1>
<p>Please select a board to enter!</p>
<li><%= link_to 'Introduce Yourself!', boards_board1_path %></li>
<li><%= link_to 'General Discussion', boards_board2_path %></li>
<li><%= link_to 'Favourite SPC', boards_board3_path %></li>
